/*
 ************************** Widget w-switcher basic styles ************************/
.w-switcher {
	position: fixed;
	right: -225px;
	top: 55px;
	z-index: 29;
	}
	.w-switcher-head {
		padding: 0 25px;
		height: 40px;
		width: 175px;
		position: relative;
		background: #fff;
		border-top: 1px solid #ddd;
		}
		.w-switcher-title {
			font: 18px/40px 'Cuprum', sans-serif;
			}
		.w-switcher-control {
			position: absolute;
			top: -1px;
			left: -40px;
			width: 40px !important;
			height: 40px !important;
			cursor: pointer;
			background: #fff;
			border: 1px solid #ddd;
			border-right: 0;
			line-height: 40px !important;
			font-size: 24px;
			text-align: center;
			-webkit-transition: all 0.2s ease;
			   -moz-transition: all 0.2s ease;
				 -o-transition: all 0.2s ease;
					transition: all 0.2s ease;
			}
			.w-switcher-control:hover {
				background: #111;
				color: #fff;
				}
	.w-switcher-body {
		padding: 15px 24px 5px;
		width: 175px;
		background: #fff;
		border: 1px solid #ddd;
		}
		.w-switcher-section {
			margin-bottom: 20px;
			}
			.w-switcher-section-title {
				display: block;
				margin-bottom: 10px;
				}				
			.w-switcher-section-list {
				margin-right: -5px;
				zoom: 1;
				}
				.w-switcher-section-list:after,
				.w-switcher-section-list:before {
					display: table;
					content: ' ';
					}
				.w-switcher-section-list:after {
					clear: both;
					}
				.w-switcher-section-item {
					float: left;
					text-align: center;
					text-decoration: none;
					margin: 0 5px 5px 0;
					width: 25px;
					height: 25px;
					font-size: 13px;
					line-height: 25px;
					background: #ddd;
					color: #fff;
					}
					.w-switcher-section-item:focus,
					.w-switcher-section-item:hover {
						box-shadow: 0 0 0 5px rgba(0,0,0,0.35) inset;
						color: #fff;
						}
					.w-switcher-section-item.active {
						box-shadow: 0 0 0 1px #000, 0 0 0 1px #000 inset;
						color: #fff;
						}
			.w-switcher-section-text {
				display: none;
				font-size: 12px;
				color: #999;
				}	

/*
 ********************* Widget w-switcher modifications **********************/

.w-switcher-section.for_layout .w-switcher-section-item {
	width: 85px;
	padding: 5px 0;
	color: #222;
	}
.w-switcher-section.for_color .w-switcher-section-item {
	width: 55px;
	padding: 5px 0;
	}
	
.w-switcher-section-item.color_red {
	background-color: #c20;
	}
.w-switcher-section-item.color_orange {
	background-color: #f26500;
	}
.w-switcher-section-item.color_brown {
	background-color: #8c5e30;
	}
.w-switcher-section-item.color_grass {
	background-color: #67a300;
	}
.w-switcher-section-item.color_green {
	background-color: #098f0d;
	}
.w-switcher-section-item.color_aqua {
	background-color: #008f7c;
	}
.w-switcher-section-item.color_blue {
	background-color: #008fcc;
	}
.w-switcher-section-item.color_purple {
	background-color: #992e87;
	}
.w-switcher-section-item.color_pink {
	background-color: #e01b5d;
	}
.w-switcher-section-item.color_mycolor {
	background-color: #0cadaf;
	}
	
/*
 ********************* w-switcher responsive **********************/

@media only screen and (max-width: 1023px) {
.w-switcher {
	display: none;
	}
}
